body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

html {
    scroll-behavior: smooth;
  }
   
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.bg-1 { 
    background-color: #1abc9c; 
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #fff;
}

.bg-5 { 
    background-color: #0275d8; 
    color: #ffffff;
}

.bg-6 { 
    background-image: url("imagens/back.jpg");
    background-repeat: no-repeat;
}

.container-fluid-initial {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100vh;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {

    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-whatsapp {
    background: #a4c639;
    color: white;
}

.fa-github {
    background: #2c4762;
    color: white;
  }

  .fa-stack-overflow {
    background: #ff5700;
    color: white;
  }
  

  * {
    box-sizing: border-box;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #007bb5;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    background-color: #007bb5;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    right: 25%;
}

.right {
    left: 25%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid gray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent gray;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid gray;
    border-width: 10px 10px 10px 0;
    border-color: transparent gray transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: gray;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 5%;
  }
  
  .right {
    left: 0%;
  }
  .left{
      left: 0%;
  }
}

a[ id= "quemSou" ]:target ~ #main article.panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
    }
    
a[ id= "oque" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
    }

a[ id= "portifolio" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}